body {
 background-color: azure;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  padding-top: 25px;
 margin: 12px;
 
}

nav * {

  margin: 0;
  
  padding: 0;
}


nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #6e7783;
  margin-bottom: 1500px;  
  padding-top: 30px;
  border-bottom: blanchedalmond 3px solid;
}

.main-menu li {
  height: 100%;
  display: inline-block;
}

.main-menu a:link,

.main-menu a:visited {
color: #ffffff; 
  padding: 10px 20px;

  text-align: center;

  text-decoration: none;
 
  display: inline-block;
 height: 100%;
 align-items: center;
}

/*
.innercontainer {
  display: flex;
  justify-content: space-between;
}
*/

li .dropdown {
  display: none;
}

.divider {
  display: block;
  width: 100%;
  margin: 0;
}

li:hover .dropdown {
  display: block;
  background-color: grey;
  margin: 0;
  padding: 0;
  left: 0%;
  position: absolute;
}
/*
.main {
 background: linear-gradient(to right, #dcedc1, #e8491d, #f4f4f4, #667db6);
 /*To make your background color fixed while the rest of the content moves. Use the syntax below 
  background-attachment: fixed;
  background-size: cover;
 
}
*/
/* Can I make my background image to be fixed while the rest content moves

1. Set the background image on your desired element (usually the body or a container div):*/

.main {
  background-image: url("Logo Design-3.jpg");
 background-size: cover;
 background-position: center center;
 background-attachment: fixed;
 background-repeat: no-repeat;
 margin: 15px;
}
/*

2. For better responsiveness, you can add a media query to change the background-attachment to scroll for mobile devices:

@media only screen and (max-device-width: 1366px) {
  body {
    background-attachment: scroll;
  }
}
*/
header {
 color: white;
  text-align: center;
  font-size: 40px;
  width: 100%;
  height: 450px;
  margin: 20px 0 50px 0;
 text-shadow: 3px 3px 4px grey;

}

#greeting {
  font-style: italic;
  text-decoration-line: underline;
  font-family: Baskerville, "Baskerville Old Face", Garamond, "Times New Roman", serif;

}


.me {
 display: flex;
 background-color: white;
 box-shadow: 0 0 10px rgba(0,0,0,0.1);
 box-shadow: 2px 10px 30px grey;
}

#profile-image {
 border-radius: 0;
 padding: 40px;
 margin: auto;
}

#about-me {
  padding: 50px;
  width: 50%;
}

#skills {
 background-color: white;
 padding: 50px 0; 
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
 padding: 10px 0;
}

.skill {
  background-color: #192a56;
  padding: 0.5rem 1rem;
  border-radius: 20px;
 color: white;
}

h2 {
  text-align: center;
}

.projects {
  background-color: white;
  padding: 20px 0;
  
}

.projects .project {
  display: flex;
  background-color: #192a56;
 color: white;
  /*border: 2px solid #acbce7;*/
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 50px;
 box-shadow: 2px 10px 30px dimgray;
}

.projects .details {
  padding: 50px;
  margin: auto;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.photo,
.cafe-image,
.bio-image,
.responsive-image,
.survey-image {
  width: 50%;
  border-radius: 10px;
}
.details {
  width: 50%;
}

.cafe-image {
/*  width: 300px;
  height: 300px;*/
  background-size: cover;
  animation: cafeChange 3s infinite;
}
@keyframes cafeChange {
 0%, 100% {
 background-image: url("photo1.jpeg");
 }
 50% {
 background-image: url("photo2.jpeg");  
 }
}

.bio-image {
 background-size: cover;
 animation: bioChange 3s infinite;
}
@keyframes bioChange {
 0%, 100% {
 background-image: url("photo3.jpeg");
 }
 50% {
 background-image: url("photo4.jpeg");  
 }
}

.responsive-image {
 background-size: cover;
 animation: layoutChange 3s infinite;
}
@keyframes layoutChange {
 0%, 100% {
 background-image: url("photo5.jpeg");
 }
 50% {
 background-image: url("photo6.jpeg");  
 }
}

.survey-image {
 background-size: cover;
 animation: formChange 3s infinite;
}
@keyframes formChange {
 0%, 100% {
 background-image: url("photo7.jpeg");
 }
 50% {
 background-image: url("photo8.jpeg");  
 }
}

.experience {
  background-color: white;
  
  padding: 20px 0; 
 /* border-radius: 10px;
  /*box-shadow: 0 0 10px rgba(0,0,0,0.1);*/
}

.title {
  display: flex;
  justify-content: space-between;
}

.each-experience {
 border-radius: 10px;
 box-shadow: 2px 10px 30px dimgray;
 padding: 20px;
 margin-bottom: 50px;
}

.education {
 background-color: white;
 padding: 20px 0;
}
.education li {
  list-style-type: none;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 300px;
  padding-left: 320px;
  border-bottom: 1px solid;
  border-top: 1px solid;
  margin-bottom: 50px;
}

.hsrw {
  background-image: url("download.png");
}

.unizik {
  background-image: url("download-1.png");
}

#hobbies {
 display: flex;
 justify-content: center;
 align-items: center;
 font-weight: 900;
 font-size: 1.2em;
  }
  

.animated-text::after {
 content: "";
 animation: swap 9s infinite;
 background: #5134ff;
 padding: 10px;
 color: white;
 border-radius: 4px;
 margin-left: 4px;
 margin-top: 10px;
}
  
@keyframes swap {
 0% {
  content: "to sing.";
 }
 20% {
  content: "to dance.";
 }
 40% {
  content: "to code.";
 }
 60% {
  content: "spending moments with my family.";
 }
 80% {
  content: "God!";
 }
 100% {
  content: "to sing.";
 }
}

footer {
 /*display: flex;
  flex-wrap: wrap;*/
 color: white;
 padding: 6px;
 /*  justify-content: space-between;*/
 text-align: center;
 background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
}

.topic {
 color: chocolate;
}

.icon-container {
 /* display: flex;*/
  align-items: center;
}

.icon-container *:first-child {
  margin-right: 10px;
}

.icon-link {
  color:inherit;
  text-decoration: none;
}

.icon-link:visited {
  color:inherit;
  text-decoration: none;
}

.icon-link:hover {
  opacity: 0.9;
}

#bookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
  margin: 0 10px 10px 500px;
 font-size: 10px;
}

#bookies p {
  margin: 0 0 10px 0;
}

#accept-bookies,
#reject-bookies {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}
